<nav>
  <ul>
    <li><a href="/" style="color: seagreen">Home</li>
    <li><a href="./bikeServices.ejs" style="color: seagreen">Bike Service</li>
    <li><a href="./gallery.ejs" style="color: seagreen">Gallery</li>
    <li><a href="./contact.ejs" style="color: seagreen">Contact</li>
  </ul>
</nav>