<nav class="nav">
  <a href="/" class="nav__icon"> <%- include('./bike-icon.ejs') %> </a>
  <ul class="nav__menu">
    <li><a class="nav__button" href="/">Home</a></li>
    <li><a class="nav__button" href="./bikeServices.ejs">Bike Service</a></li>
    <li><a class="nav__button nav__button--disabled" href="./gallery.ejs">Gallery</a></li>
    <li><a class="nav__button" href="./contact.ejs">Contact</a></li>
  </ul>
</nav>
<div class="nav-underline" />
