<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', { title: "Homepage" }) %>
  <body>
    <main>
      <%- include('./partials/nav.ejs') %>
      <h3 class="page-header">Welcome on our bikeshop webpage!</h3>
    </main>
  </body>
</html>
